# Configuración de Servidor
RUST_LOG=debug

# WhatsApp Meta Graph API
# (Obtener en dashboard de Meta for Developers)
WA_APP_SECRET=
WA_ACCESS_TOKEN=
WA_PHONE_ID=
WA_VERIFY_TOKEN=

# Base de datos (SurrealDB local vía devcontainer o remota)
# SURREALDB_URL=ws://localhost:8000

# LLM 
GROQ_API_KEY=
